# Step 2: Building Labels

In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [21]:
buildings = pd.read_csv('../data/buildings.csv')
permits = pd.read_csv('../data/permits.csv')

In [22]:
permits.shape

(6315, 57)

In [23]:
buildings.shape

(200055, 9)

In [24]:
permits.head(1)

,PERMIT_NO,PERMIT_APPLIED,PERMIT_ISSUED,PERMIT_EXPIRES,SITE_ADDRESS,BETWEEN1,PARCEL_NO,LOT_NUMBER,SUBDIVISION,CASE_TYPE,...,CONTRACTOR_CITY,CONTRACTOR_STATE,CONTRACTOR_ZIP,CONDITION_FOR_APPROVAL,owner_location,contractor_location,geom,addr,lon,lat
0,BLD2015-03955,8/28/15,8/28/15,NaN,4331 BARHAM,BETWEEN VOIGHT AND WAVENEY,2165525-6,S15,NaN,BLD,...,DETROIT,NaN,48227.0,NaN,"65 CADILLAC\nDETROIT, MI\n(42.331741326000042,...","13500 FOLEY\nDETROIT, MI\n(42.379332, -83.177501)",NaN,4331 barham,-82.9474,42.394106

In [25]:
permits = permits[['addr','lon','lat','BLD_PERMIT_TYPE']]  #select only relevant columns

In [26]:
permits['BLD_PERMIT_TYPE'].unique()

array(['Dismantle', 'DISM'], dtype=object)

Any buildings showing up in permits are blighted

In [27]:
buildings['blighted'] = False
permits['by_addr'] = False   # if permits assigned to buildings by address

In [28]:
permits.head(1)

          addr      lon        lat BLD_PERMIT_TYPE by_addr
0  4331 barham -82.9474  42.394106       Dismantle   False

In [95]:
permits.drop_duplicates('lon','lat')

ValueError: keep must be either "first", "last" or False

### Assign By Address

In [29]:
buildings['blighted'] = buildings['addr'].apply(lambda x: x in permits['addr'].values.tolist())

In [30]:
buildings['blighted'].value_counts()

False    197555
True       2500
Name: blighted, dtype: int64

In [31]:
blighted_by_addr = buildings[buildings['blighted']==True] # list of address
permits['by_addr'] = permits['addr'].apply(lambda x: x in blighted_by_addr['addr'].values.tolist())

In [32]:
permits['by_addr'].value_counts()

False    3673
True     2642
Name: by_addr, dtype: int64

The above numbers reflect that permits sometimes are assigned to the same address (and same coordinates):

In [33]:
permits[permits['by_addr']==True].sort_values(by='addr').head(10)

                    addr        lon        lat BLD_PERMIT_TYPE by_addr
5055           1000 14th -83.071221  42.322086            DISM    True
5056           1000 14th -83.071221  42.322086            DISM    True
1964        1000 baldwin -82.999423  42.352188            DISM    True
6021        1000 scotten -83.090194  42.315778            DISM    True
6022        1000 scotten -83.090194  42.315778            DISM    True
6023        1000 scotten -83.090194  42.315778            DISM    True
4104      10000 mettetal -83.205763  42.369181            DISM    True
5777    10002 nottingham -82.953115  42.412160            DISM    True
3395   10015 asbury park -83.207127  42.369328            DISM    True
4654  10016 beaconsfield -82.954174  42.412330            DISM    True

### Assign By Coordiates:

In [48]:
permits_coord = permits.loc[permits['by_addr'] == False,:]
permits_coord.loc[:,'by_coord'] = False

/Library/Frameworks/Python.framework/Versions/3.4/lib/python3.4/site-packages/pandas/core/indexing.py:288: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/Library/Frameworks/Python.framework/Versions/3.4/lib/python3.4/site-packages/pandas/core/indexing.py:465: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [76]:
epsilon1 = 4.011e-4/2.0  # fuzzy match
epsilon2 = 2.04e-4/2.0
cnt = 0
for i,permit in permits_coord.iterrows():
    lon = permit['lon']
    lat = permit['lat']
    #indices = (buildings['llcrnrlon'] < lon) & (buildings['urcrnrlon'] > lon) \
    #        & (buildings['llcrnrlat'] < lat) & (buildings['urcrnrlat'] > lat)
    indices = (abs(buildings['lon']-lon) < epsilon1) & (abs(buildings['lat'] - lat) < epsilon2)
    buildings.loc[indices,'blighted'] = True
    if(len(buildings.loc[indices,:].index.tolist())!=0):
        cnt += 1
        if(cnt%10 == 5):
            print(buildings.loc[indices,:].index.tolist())

[111482, 111541, 111558, 111621, 111624]
[41087, 41149, 41284]
[183778]
[131544, 131565, 131690]
[146147]
[90238]
[22633]
[141292, 141434]
[191211]
[106952, 107033]
[108295]
[94035, 94089, 94113]
[100682, 100735, 100803, 100877]
[151941, 151989]
[141537, 141577, 141655]
[171171, 171231, 171248, 171251]
[82938, 83079]
[137957, 137960, 137967]
[187817, 187880, 187889, 187923]
[84696]
[19262, 19288]
[171591]
[88290, 88305, 88343, 88394, 88427, 88464]
[123274]
[55379, 55412, 55483]
[175229]
[142444, 142486, 142498, 142517, 142548, 142603]
[165588, 165644]
[75489, 75547, 75619]
[59527, 59541, 59559]
[169097]
[142444, 142486, 142498, 142517, 142548, 142603]
[31972]
[138625, 138668, 138754]
[142444, 142486, 142498, 142517, 142548, 142603]
[145993, 146022]
[137080]
[130868]
[119164]
[159383, 159462, 159550]
[43490, 43543, 43579, 43649, 43750, 43778, 43783, 43792]
[114782]
[142444, 142486, 142498, 142517, 142548, 142603]
[110435]
[124918, 124926, 124958, 124960]
[95449, 95543]
[96569]
[97507, 97744]
[48526, 48647, 48784]
[122193, 122214]
[142444, 142486, 142498, 142517, 142548, 142603]
[142444, 142486, 142498, 142517, 142548, 142603]
[69136, 69282]
[117401]
[106518]
[8919]
[9278]
[28408, 28456, 28546]
[35112]
[9446]
[74091, 74125, 74126]
[142444, 142486, 142498, 142517, 142548, 142603]
[146039, 146079]
[99275, 99372]
[142444, 142486, 142498, 142517, 142548, 142603]
[94800, 94827, 94834, 94888]
[108771, 108822, 108890, 108951]
[87322, 87384, 87400]
[142444, 142486, 142498, 142517, 142548, 142603]
[108771, 108822, 108890, 108951]
[133486]
[139629]
[130152, 130155]
[173877]
[82369]
[122861, 122973, 123038, 123054]
[130199]
[97072, 97153, 97234]
[142444, 142486, 142498, 142517, 142548, 142603]
[142444, 142486, 142498, 142517, 142548, 142603]
[142444, 142486, 142498, 142517, 142548, 142603]
[95290]
[142444, 142486, 142498, 142517, 142548, 142603]
[96477]
[75899, 75987, 76049]
[106470]
[155946]
[113867, 113899, 113943, 113965, 114036]
[190433, 190459]
[7370, 7395]
[31972]
[21379, 21384, 21430]
[142444, 142486, 142498, 142517, 142548, 142603]
[142444, 142486, 142498, 142517, 142548, 142603]
[9196, 9250]
[29211, 29298, 29299]
[101952]
[4517]
[88505, 88632]
[153088]
[174099, 174123, 174138, 174144]
[142444, 142486, 142498, 142517, 142548, 142603]
[142444, 142486, 142498, 142517, 142548, 142603]
[78008, 78074]
[98963, 98971, 99022]
[165537]
[142444, 142486, 142498, 142517, 142548, 142603]
[76243, 76256]
[142444, 142486, 142498, 142517, 142548, 142603]
[155802, 155819]
[142444, 142486, 142498, 142517, 142548, 142603]
[142444, 142486, 142498, 142517, 142548, 142603]
[144427, 144450]
[119180]
[123890, 123989]
[167796]
[100423, 100512]
[145879]
[142444, 142486, 142498, 142517, 142548, 142603]
[142444, 142486, 142498, 142517, 142548, 142603]
[142444, 142486, 142498, 142517, 142548, 142603]
[72986, 73006, 73036, 73074]
[172269]
[154389]
[142444, 142486, 142498, 142517, 142548, 142603]
[34084]
[142444, 142486, 142498, 142517, 142548, 142603]
[84025]
[147578]
[142444, 142486, 142498, 142517, 142548, 142603]
[142444, 142486, 142498, 142517, 142548, 142603]
[74145, 74214, 74264, 74284, 74336, 74351]
[142444, 142486, 142498, 142517, 142548, 142603]
[142444, 142486, 142498, 142517, 142548, 142603]
[176400, 176448, 176503, 176505]
[142444, 142486, 142498, 142517, 142548, 142603]
[142444, 142486, 142498, 142517, 142548, 142603]
[181389]
[100423, 100512]
[176399, 176537]
[167904, 167960]
[178241, 178320, 178373, 178376]
[177679]
[191840, 191888]
[142444, 142486, 142498, 142517, 142548, 142603]
[77951, 78008, 78074]
[18679]
[142444, 142486, 142498, 142517, 142548, 142603]
[119734]
[121694]
[175908]
[169951, 170088]
[162606]
[142444, 142486, 142498, 142517, 142548, 142603]
[155857]
[142444, 142486, 142498, 142517, 142548, 142603]
[122071]
[153823]
[82315]
[27428]
[147144]
[38012]
[142444, 142486, 142498, 142517, 142548, 142603]
[178053, 178186]
[173692]
[151322]
[126277, 126297, 126330]
[120618]
[142444, 142486, 142498, 142517, 142548, 142603]
[142444, 142486, 142498, 142517, 142548, 142603]
[178941, 179004, 179031]
[169831, 169886]
[171592]
[147432]
[188223, 188264, 188320]
[156129, 156145, 156184]
[142444, 142486, 142498, 142517, 142548, 142603]
[31972]
[14699]
[142444, 142486, 142498, 142517, 142548, 142603]
[187888, 187947]
[110298, 110354]
[142444, 142486, 142498, 142517, 142548, 142603]
[141537, 141577, 141655]
[142444, 142486, 142498, 142517, 142548, 142603]
[110245, 110268, 110322]
[100423, 100512]
[156556, 156587]
[171282]
[97264, 97268, 97440]
[100423, 100512]
[178260, 178278, 178326, 178412]
[111831]
[115266, 115281]
[176978, 177022, 177088]
[157553]
[156313]
[167547]
[142444, 142486, 142498, 142517, 142548, 142603]
[177192]
[156105, 156121, 156129, 156191]
[25055]
[116438]
[19468, 19497]
[142444, 142486, 142498, 142517, 142548, 142603]
[142444, 142486, 142498, 142517, 142548, 142603]
[93036, 93061]
[115685, 115772, 115822]
[107707, 107766, 107776, 107797, 107799, 107801, 107833, 107843, 107847, 107849, 107861]
[10537, 10538]
[153819]
[142444, 142486, 142498, 142517, 142548, 142603]
[32296]
[55259]
[142444, 142486, 142498, 142517, 142548, 142603]
[78352]
[31972]
[111253, 111270, 111275, 111307, 111321, 111375]
[140456]
[50091]
[5469, 5565]
[105863, 105872]
[10184]
[130699]
[166574]
[108482, 108549, 108624, 108627]
[144338, 144383, 144414, 144457]
[189425, 189464, 189513]
[32296]
[199022]
[139306]
[3048, 3064]
[173404]
[86770]
[142444, 142486, 142498, 142517, 142548, 142603]
[164204]
[153531]
[171670, 171704, 171750, 171808]
[142444, 142486, 142498, 142517, 142548, 142603]
[142444, 142486, 142498, 142517, 142548, 142603]
[55358, 55461]
[142444, 142486, 142498, 142517, 142548, 142603]
[142444, 142486, 142498, 142517, 142548, 142603]
[160377]
[91387, 91421, 91448]
[77951]
[3026]
[164330]
[95975]
[142444, 142486, 142498, 142517, 142548, 142603]
[142444, 142486, 142498, 142517, 142548, 142603]
[142444, 142486, 142498, 142517, 142548, 142603]
[142444, 142486, 142498, 142517, 142548, 142603]
[148333]
[123890, 123989]
[111971, 112098]
[107353, 107375]
[166900]
[100423, 100512]
[167390, 167463]
[91225, 91226]
[92033]
[97603, 97668, 97708, 97789, 97798, 97810, 97853, 97862, 97870]
[33402]

In [74]:
buildings.loc[142517,:]

addr                                              0 aberton avenue
event_id_list    [387080, 387076, 387078, 388121, 387072, 38708...
lat                                                        42.3317
lon                                                        -83.048
llcrnrlon                                                 -83.0482
llcrnrlat                                                  42.3316
urcrnrlon                                                 -83.0478
urcrnrlat                                                  42.3318
building_id                                                 142517
blighted                                                      True
Name: 142517, dtype: object

1301

In [82]:
len(permits.drop_duplicates(['lon','lat']))

4927

In [88]:
dict1 = {"A":[1,2,3,4,5,1,2,3,4,5], "B":[5,2,3,4,5,5,4,3,2,1]}

In [89]:
df = pd.DataFrame(dict1)

In [91]:
df.drop_duplicates()

   A  B
0  1  5
1  2  2
2  3  3
3  4  4
4  5  5
6  2  4
8  4  2
9  5  1