## Step 2: Assign label (blighted or not_blighted) to buildings

In [1]:
import numpy as np
import pandas as pd

In [2]:
data_dir = '../data/'

In [3]:
buildings = pd.read_csv(data_dir+'buildings.csv')
permits = pd.read_csv(data_dir+'permits.csv')

In [4]:
buildings.head(4)

,building_id,lon,lat,llcrnrlon,llcrnrlat,urcrnrlon,urcrnrlat,addr,PARCELNO
0,0,-83.040064,42.328955,-83.041659,42.327600,-83.037944,42.330580,400 e jefferson,01000001.
1,1,-83.039415,42.327845,-83.040284,42.327441,-83.038001,42.328499,300 e atwater,01000002-3
2,2,-83.041866,42.328047,-83.042504,42.327680,-83.041037,42.328326,201 randolph,01000004.001
3,3,-83.041562,42.327899,-83.042353,42.327402,-83.040638,42.328329,159 randolph,01000004.002L

In [6]:
permits.columns

Index(['PERMIT_NO', 'PERMIT_APPLIED', 'PERMIT_ISSUED', 'PERMIT_EXPIRES',
       'SITE_ADDRESS', 'BETWEEN1', 'PARCEL_NO', 'LOT_NUMBER', 'SUBDIVISION',
       'CASE_TYPE', 'CASE_DESCRIPTION', 'LEGAL_USE', 'ESTIMATED_COST',
       'PARCEL_SIZE', 'PARCEL_CLUSTER_SECTOR', 'STORIES', 'PARCEL_FLOOR_AREA',
       'PARCEL_GROUND_AREA', 'PRC_AKA_ADDRESS', 'BLD_PERMIT_TYPE',
       'PERMIT_DESCRIPTION', 'BLD_PERMIT_DESC', 'BLD_TYPE_USE', 'RESIDENTIAL',
       'DESCRIPTION', 'BLD_TYPE_CONST_COD', 'BLD_ZONING_DIST', 'BLD_USE_GROUP',
       'BLD_BASEMENT', 'FEE_TYPE', 'CSM_CASENO', 'CSF_CREATED_BY', 'SEQ_NO',
       'PCF_AMT_PD', 'PCF_AMT_DUE', 'PCF_UPDATED', 'OWNER_LAST_NAME',
       'OWNER_FIRST_NAME', 'OWNER_ADDRESS1', 'OWNER_ADDRESS2', 'OWNER_CITY',
       'OWNER_STATE', 'OWNER_ZIP', 'CONTRACTOR_LAST_NAME',
       'CONTRACTOR_FIRST_NAME', 'CONTRACTOR_ADDRESS1', 'CONTRACTOR_ADDRESS2',
       'CONTRACTOR_CITY', 'CONTRACTOR_STATE', 'CONTRACTOR_ZIP',
       'CONDITION_FOR_APPROVAL', 'owner_location', 'contractor_location',
       'geom', 'addr', 'lon', 'lat'],
      dtype='object')

In [7]:
permits = permits[['PARCEL_NO', 'BLD_PERMIT_TYPE', 'addr', 'lon', 'lat']]

In [8]:
permits['BLD_PERMIT_TYPE'].unique()

array(['Dismantle', 'DISM'], dtype=object)

In [9]:
permits.head(4)

   PARCEL_NO BLD_PERMIT_TYPE               addr        lon        lat
0  2165525-6       Dismantle        4331 barham -82.947400  42.394106
1    192312.       Dismantle     9707 bessemore -83.005077  42.395122
2   2169321.       Dismantle     5315 berkshire -82.946476  42.403220
3   2125930.       Dismantle  16670 bringard dr -82.947207  42.446640

In [10]:
print("Total number of blighted buildings: %d" % permits.shape[0])

Total number of blighted buildings: 6315